@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li, a, button{
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
        /*how thick the letter char size is*/
    font-size: 16px;
    color: tan;
    text-decoration: none;
}

/*Nav Bar*/
    header{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 10%;
        background-color: #ffffff;
        border: 1px #cccccc;
    }

    .logo{
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

    .nav-links li{
        display: inline-block;
        padding: 0px 20px;
    }

    .nav-links li a{
        transition: all 0.3s ease 0s;
    }

    .nav-links li a:hover{
        color: black;
        text-decoration: underline;
    }

    .cta{
        order: 3;
        margin-left: auto;
    }

    button{
        padding: 9px 25px;
        background-color: white;
        border: #003566;
        color: black;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0;
    }

    button:hover{
        background-color: #003566;
        color: white;
    }

/*flex box items*/
    .container{
        margin: 20px auto;
        border: 1px solid black;
        width: 100%;
        height: 600px;
        display: block;
        text-align: center;
    }

/*contact form*/
    h1{
        text-align: center;
    }
    
    .form{
        margin: 100px auto;
        display: block;
        background-color: #eae9ed;
        border-radius: 10px;
        border: 1px solid #eae9ed;
        min-height: 400px;
            /*give you the min height*/
        width: 50%;
        position: relative;
    }
    
    /*focus = indcates to the user the current text box they are in*/
    input[type="text"]:focus, textarea:focus{
        border: 1px solid #ccc;
    }
    
    input[type="text"], textarea{
        width: 80%;
            /*Takes up 80% of the colored area*/
        margin: 25px auto;
        text-align: left;
        display: block;
        padding: 12px 20px;
        border: 1px solid transparent;
        border-radius: 8px;
    }
    
    /*increases box size of the "Type your message" box if the user has fore to write*/
    textarea{
        resize: vertical;
        min-height: 100px;
        margin-bottom: 0px;
    }
    
    .submit-form{
        border: #3c65b9;
        background-color: #3c65b9;
        padding: 12px 20px;
        border-radius: 8px;
        color: white;
        width: 40%;
        margin: 20px auto;
        cursor: pointer;
    }
    
    .submit-form:hover{
        opacity: 0.8;
    }
    
    /*Once button is clicked it will change to this*/
    .submit-form:active{
        background-color: #243f78;
    }